.modalBackdrop {
  background-color: transparent;
}

.closeButton {
  display: none;
}

.headerModal {
  // position: absolute;
  right: 0;
  top: 8%;
  width: rem(150);
  height: rem(200);
}

.headerModalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
