.rechartContainer {
  width: 80%;
}

.rechartContainer h4 {
  margin: 0 0 rem(10) rem(30);
}
.rechartsSelector {
  margin: 0 0 rem(10) rem(30);
  padding: rem(5);
  border: none;
  outline: none;
  /* appearance: none; */
}
