.measurementsPage {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(50);
}

.calendar {
  padding: rem(10);
}

.select-range-checkbox {
  display: flex;
  gap: rem(10);
  margin-bottom: rem(10);
}

.react-calendar {
  width: rem(350);
  max-width: 100%;
  background: #fff;
  color: #222;
  border: transparent;
  border-radius: rem(8);
  box-shadow: 0 rem(12) rem(24) rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: rem(5);
}

.react-calendar,
.react-calendar *,
.react-calendar *::before,
.react-calendar *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar__tile {
  position: relative;
  border-radius: rem(6);
}

/* badge */
.todo-badge {
  position: absolute;
  bottom: rem(2);
  right: rem(2);

  min-width: rem(15);
  height: rem(15);

  background: #ef4444; /* red */
  color: white;
  font-size: rem(10);
  font-weight: 400;

  border-radius: rem(999);
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

/* today + badge */
.react-calendar__tile--now .todo-badge {
  background: #2563eb;
}

/* selected + badge */
.react-calendar__tile--active .todo-badge {
  background: white;
  color: #2563eb;
}

.highlight {
  background-color: #ffcccb !important;
  /* color: #000; */
  /* border-radius: 50%; */
}

.highlight abbr {
  font-weight: bold;
}

.linkBtn {
  display: block;
  width: rem(150);
  border: rem(1) solid gray;
  border-radius: rem(6);
  color: #000;
  padding: rem(5);
  cursor: pointer;
}

.measurementChartBlock {
  display: flex;
  width: 100%;
}
