.goalForm {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  padding: rem(6);
  background: #fff;
  border-radius: rem(8);
  box-shadow: 0 rem(12) rem(24) rgba(0, 0, 0, 0.2);
}

.h2 {
  margin-bottom: rem(40);
  text-align: center;
}

.titleInput {
  margin-bottom: rem(15);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: rem(15);
}

.button {
  margin: rem(15) 0;
}
