.loginPage,
.registerPage {
  display: flex;
  /* height: 80vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(50);
}

.loginPageFormLink,
.registerPageFormLink {
  color: #000;
}

.loginPageFormLink:hover,
.registerPageFormLink:hover {
  color: grey;
}

.loginPageForm,
.registerPageForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: rem(15);
  width: rem(300);
  border: rem(1) solid grey;
  border-radius: rem(10);
  padding: rem(30);
  box-shadow: rem(5) rem(5) rem(8) grey;
}

.formInputsGroup {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.formInput {
  width: 100%;
  font-size: rem(16);
  border-radius: rem(5);
  border: rem(1) solid #000;
  outline: none;
  padding: rem(5);
}

.button {
  padding: rem(5) rem(10);
  border-radius: rem(5);
  border: rem(1) solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: rem(16);
}

.button:hover {
  background: grey;
  color: #fff;
}

.linksGroup {
  display: flex;
  justify-content: space-between;
}

.p {
  color: grey;
}
