.chart-container {
  /* display: flex; */
  /* border: 1px solid #000; */
  width: 100%; /* or a fixed pixel value */
  height: rem(300); /* the height is critical */
  min-height: rem(300); /* also helpful */
}
