.deleteTasksDialog {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  border: none;
}

.deleteTasksDialog h2 {
  margin-bottom: rem(10);
}

.deleteTasksDialog label {
  display: flex;
  /* justify-content: space-between; */
  gap: rem(10);
}

.deleteTasksDialog .buttonsBlock {
  display: flex;
  justify-content: end;
  gap: rem(10);
}

.deleteTasksDialog button {
  padding: rem(3) rem(5);
}
