.taskFormContainer {
  display: flex;
  justify-content: center;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  border: rem(1) solid grey;
  border-radius: rem(8);
  padding: rem(15);
  box-shadow: 0 rem(12) rem(24) rgb(0, 0, 0, 0.2);
}
