.trashItem {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(6) rem(8);
  /* border-radius: 6px; */
  border-bottom: solid rem(1) rgba(0, 0, 0, 0.5);
}

.trashItem:hover {
  background: #f7f9fc;
}

.trashItem .title {
  flex: 1;
}

.trashItem .actions {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  display: flex;
  gap: rem(4);
}

.trashItem:hover .actions,
.trashItem:focus-within .actions {
  opacity: 1;
  pointer-events: auto;
}

.trashItem .actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: rem(16);
}

.trashItem .actions button:hover {
  transform: scale(1.1);
}
