/* A day with tasks */
.has-todos {
  background: #c7f0ff !important;
  border-radius: 50%;
}

/* Today */
.react-calendar__tile--now {
  outline: 2px solid #2563eb;
  background: transparent;
}

/* Today + tasks */
.react-calendar__tile--now.has-todos {
  background: #93c5fd !important;
}

/* Selected day */
.react-calendar__tile--active {
  background: #2563eb !important;
  color: white;
}

.react-calendar__tile {
  position: relative;
}

/* badge */
.todo-badge {
  position: absolute;
  bottom: 4px;
  right: 4px;

  min-width: 18px;
  height: 18px;

  background: #ef4444; /* red */
  color: white;
  font-size: 12px;
  font-weight: 600;

  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

/* today + badge */
.react-calendar__tile--now .todo-badge {
  background: #2563eb;
}

/* selected + badge */
.react-calendar__tile--active .todo-badge {
  background: white;
  color: #2563eb;
}

.selected-date {
  outline: 2px solid #16a34a;
  background: #dcfce7 !important;
}


