.measurementsDetails {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  width: rem(400);
  top: 50%;
  right: rem(50);
}

.measurementsDetails h2 {
  text-align: center;
  margin: rem(30);
}

.measurementsDetails h4 {
  margin-bottom: rem(10);
}

.measurementsDetailsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(30);
  row-gap: rem(5);
}

.measurementsDetailsList li {
  display: flex;
  justify-content: space-between;
}

.measurementsDetails button {
  position: absolute;
  top: 0;
  right: 0px;
}
