.calendarChartsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
}

.button {
  padding: rem(5);
  cursor: pointer;
}
