.resetPassword {
  margin: 0 auto;
  display: flex;
  /* height: 80vh; */
  flex-direction: column;
  align-items: center;
  gap: rem(50);
}

.resetPasswordForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: rem(15);
  width: rem(300);
  border: rem(1) solid grey;
  border-radius: rem(10);
  padding: rem(30);
  box-shadow: rem(5) rem(5) rem(8) grey;
}

.resetPasswordForm .formInputsGroup {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.resetPasswordForm input {
  width: 100%;
  font-size: rem(16);
  border-radius: rem(5);
  border: rem(1) solid #000;
  outline: none;
  padding: rem(5);
}

.resetPasswordForm button {
  padding: rem(5) rem(10);
  border-radius: rem(5);
  border: rem(1) solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: rem(16);
}

.resetPasswordForm button:hover {
  background: grey;
  color: #fff;
}
