.goalCard {
  display: flex;

  align-items: center;
}

.h3 {
  flex: 1;
}

.goalCard button {
  border: transparent;
  padding: rem(10);
  border-radius: rem(8);
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: rem(5);
  margin: 0 rem(10);
  /* width: 100%; */
  width: rem(150);
}

.bar {
  width: 100%;
  /* flex: 1; */
  background: grey;
  height: rem(15);
}

.barFill {
  background: orange;
  height: rem(15);
}

.barValue {
  min-width: rem(15);
  text-align: end;
}
